.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #111c24;
    flex-direction: column;

}

.text{
    font-size: 45px;
    color: #fff;
    margin-bottom: 40px;

}

.paragrafo{
    color: #fff;
    margin-bottom: 50px;
}

.btn{
    padding: 15px  55px;
    background-color: #fff;
    text-decoration: none;
    color: #111c24;
    font-size: 18px;
    transition: all 0.5s;
}

.btn:hover{
    border-radius: 16px;
}