*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;

}

.header{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    
}

.navbar{
    background-color: black;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px black;
    z-index: 99;
    
}

.menu-button{
    display: none;
    color: gold;
    cursor: pointer;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}



nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    margin: 1.5rem;
    cursor: pointer;
    color: gold;
}

nav ul li:hover{
    transform: translate(-5px);
    transition: all 0.2s;
    font-weight: bold;

}

.icon:hover{
    transform: translate(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    color: gold;
}

ul a{
    color: gold;
    text-decoration: none;

}

.logo>a{
    color: gold;
    text-decoration: none;
}

header{
    background-image: radial-gradient(#fff, #c7c7c7);
}


.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-bottom-side-left{
    height: 100%;
    flex-basis: 50%;

}

.header-bottom-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left button{
    background-color: gold;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-bottom-side-left button:hover{
    background-color: goldenrod;

}


.header-bottom-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}



@media (max-width: 800px){
    .logo{
        font-size: 1.2rem;
    }

    .menu-button{
        display: block;
        cursor: pointer;
    }

    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
        
    }

    nav{
        position: absolute;
        background-color: black;
        width: 100%;
        top: 46px;
        display: none;
    }

    .show-menu nav{
        display: block;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        text-align: center;
        padding: 0.8rem;

    }

    .header-bottom-side-right img{
        width: 100%;
        border-radius: 50px;
        margin-top: 50px;

    }

   



}

.slider{
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 50px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 800px;
    height: 100%;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(208, 69, 92);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

.types{
    display: flex;
    height: 400px;
    padding: 2rem;
    justify-content: center;
    gap: 2rem;
    
}

.types a{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

#type-1{
    background-image: url("mulheres.png");
    
}

#type-2{
    background-color: red;
}

#type-3{
    background-color: purple;
}

#type-1:hover{
    background-size: 80%;
}