body{
    background-color: black;
}

*{
    color: rgb(13, 75, 92);
}
.navbar{
    color: rgb(13, 75, 92);
    background-color: rgb(183, 190, 192);
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

.dropdown div{
    background-color: rgb(183, 190, 192);
    position: absolute;
    display: flex;
    flex-direction: column;

}

.dropdown div a{
    display: none;
}

.dropdown:hover div a{
    display: block;
}

.dropdown div a:hover{
    background-color: rgb(13, 75, 92);
}

@media(max-width: 500px){

    body{
        background-color: violet;
    }
}